@using LibrarySystem.Shared.PublicationData
@model PublicationDetails
<h1>Edit Publication</h1>
<form asp-controller="Publication" asp-action="EditPublication" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="PublicationName">Publication Name</label>
        <input type="text" asp-for="PublicationName" placeholder="Enter Publication Name" class="form-control" />
        <span asp-validation-for="PublicationName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PublicationAddress">PublicationAddress</label>
        <input type="text" asp-for="PublicationAddress" placeholder="PublicationAddress" class="form-control" />
        <span asp-validation-for="PublicationAddress" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PContactPersonName">PContactPersonName</label>
        <input type="text" asp-for="PContactPersonName" placeholder="PContactPersonName" class="form-control" />
        <span asp-validation-for="PContactPersonName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PContactPhone">PContactPhone</label>
        <input type="text" asp-for="PContactPhone" placeholder="PContactPhone" class="form-control" />
        <span asp-validation-for="PContactPhone" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PublicationEmail">PublicationEmail</label>
        <input type="text" asp-for="PublicationEmail" placeholder="PublicationEmail" class="form-control" />
        <span asp-validation-for="PublicationEmail" class="text-danger"></span>
    </div>
    <br>
    <div class="form-group">
        <input type="hidden" asp-for="PublicationId" />
        <input type="submit" value="Submit" class="btn btn-success" />
    </div>
    
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    @* <script>
    $(document).ready(function(){
        $("#Name").rules("add", {
            required: true,
            messages: {
                required: "Name is required (custom message)"
            },
        }); 
    });
</script> *@
}