@using LibrarySystem.Shared.AuthorData
@model AuthorDetails
<h1>Add Author</h1>
<form asp-controller="Author" asp-action="AddAuthor" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="FirstName">First Name</label>
        <input type="text" asp-for="FirstName" placeholder="Enter First Name" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MiddleName">Middle Name</label>
        <input type="text" asp-for="MiddleName" placeholder="Enter Middle Name" class="form-control" />
        <span asp-validation-for="MiddleName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName">Last Name</label>
        <input type="text" asp-for="LastName" placeholder="Enter Author Last Name" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Bio">Bio</label>
        <input type="text" asp-for="Bio" placeholder="Enter Bio" class="form-check-control" />
        <span asp-validation-for="Bio" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DateOfBirth">Date Of Birth</label>
        <input type="text" asp-for="DateOfBirth" placeholder="Enter Date of Birth" class="form-control" />
        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
    </div>
    <br>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-success" />
    </div>

</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    @* <script>
    $(document).ready(function(){
        $("#Name").rules("add", {
            required: true,
            messages: {
                required: "Name is required (custom message)"
            },
        });
    });
</script> *@
}